[submodule "libtcommon"]
	path = libtcommon
	url = https://github.com/tsottili/libtcommon
[submodule "libtviews"]
	path = libtviews
	url = https://github.com/tsottili/libtviews
[submodule "libtgview"]
	path = libtgview
	url = https://github.com/tsottili/libtgview
